html, body {
    background-color: #2E294E;
    height: 100%;
    margin: 0;
    padding: 0; 
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1{
    color: white;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.tabela_header{
    background-color: yellow;
}

.tabela_geral { 
    border-radius: 30px;
    overflow: auto;
    width: 100%; 
    margin: 20px auto;
    padding-left: 20px ;
    align-items: center; 
    text-align: center; 
}

.linha_tabela{
    width: 500px;
    border: 1px solid black;
    width: 190px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px;
    background-color: #BDBDBD;
    color: black;
    white-space: nowrap;
}

.buttons{
    display: flex;
    font-size: 15px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.btn_cell{
    display: flex;
    width: 15px;
}

.table-wrapper {
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 100%;
}

.btn-novo-colaborador{
    border: 1px solid black;
    color:white;
    border-radius: 20px;
    background-color: green;
    text-decoration: none;
    width: 150px;
    height: 40px;
    margin-left: 30px;
}

.btn_nav {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 20px;
}

.btn_nav:hover {
    color: blue; 
}

.btn-novo-colaborador:hover{
    border: 2px solid white;
    font-weight: bold;
}

.table-wrapper::-webkit-scrollbar {
    width: 5px; 
    height: 8px; 
}

/* Track */
.table-wrapper::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
.table-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
}

/* Handle on hover */
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); 
}