{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'autentication_login.css' %}">
    <title>login</title>
</head>
<body>
    <div class="formulario">
            <img src="../../static/img/norte_mkt.png" class="logoNorte" alt="logo Norte"/>
            <form class="cadastrar-form" action="{% url 'login'%}" method = 'POST' >
                <h1 class="tituloLogin">Logística Interna</h1>
                {% csrf_token %} 
                <input class="input_box {% if invalid_fields %}invalid{% endif %}"  type="text" placeholder="username" name="username" ><br><br>
                <input class="input_box {% if invalid_fields %}invalid{% endif %}"  type="password" placeholder="password" name="senha"><br><br> 
                <div class="loginCadastro">
                    <input class= "submit_btn "type="submit" value="ENTRAR"> 
                    <div class="btn_page">
                        <a class="cadastre" href="{% url 'cadastro'%}">CADASTRE-SE</a>
                    </div>
                </div>
            </form>
    </div>
</body>
</html>

