{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'colaborador.css' %}">
    <title>CADASTRO COLABORADOR</title>
</head>
<body>
    <nav>
        <a class="btn_nav" href="{% url 'index'%}"> HOME </a>
    </nav>
    <h1>COLABORADORES</h1>
    <button class="btn-novo-colaborador" onclick="window.location.href='{% url 'cadastrar_colaborador' %}'">NOVO</button>
    <div class="table-wrapper">
        <table class="tabela_geral">
            <thead class="tabela_header">
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>RG</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Cidade</th>
                    <th>Data de Nascimento</th>
                </tr>
            </thead>
            <tbody>
                {% for colaborador in colaboradores %}
                    <tr>
                        <td class="linha_tabela">{{ colaborador.nome }}</td>
                        <td class="linha_tabela">{{ colaborador.sobrenome }}</td>
                        <td class="linha_tabela">{{ colaborador.rg }}</td>
                        <td class="linha_tabela">{{ colaborador.cpf }}</td>
                        <td class="linha_tabela">{{ colaborador.telefone }}</td>
                        <td class="linha_tabela">{{ colaborador.cidade }}</td>
                        <td class="linha_tabela">{{ colaborador.data_nascimento }}</td>
                        <td class="btn_cell">
                            <a class="buttons" href="{% url 'update_colaborador' pk=colaborador.pk%}">🔃</a>
                            <a class="buttons" href="{% url 'delete_colaborador' pk=colaborador.pk %}">⛔</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>