{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
    <title>Consulta Escalação</title>
</head>
<body>
    <nav>
        <a class="btn_nav" href="{% url 'index'%}"> HOME </a>
        <h1>Consultar Escala</h1>
    </nav>
    <div class="table-wrapper">
        <table class="tabela_geral">
            <thead  class="tabela_header">
                <tr>
                    <th>ID</th>
                    <th>Nome Evento</th>
                    <th>Data Evento</th>
                    <th>Colaborador</th>
                    <th>Nome Área</th>
                    <th>Nome Cargo</th>
                    <th>Contrato</th>
                    <th>Origem</th>
                    <th>Data Início</th>
                    <th>Data Final</th>
                    <th>Quantidade Diária</th>
                    <th>Quantidade Dias Pagto</th>
                    <th>Passagem</th>
                    <th>Data Ida</th>
                    <th>Data Volta</th>
                    <th>Hora Ida</th>
                    <th>Hora Volta</th>
                    <th>Meio de Transporte</th>
                    <th>Companhia Aérea</th>
                    <th>Loc do Voo</th>
                </tr>
            </thead>
            <tbody>
                {% for escala in escalas %}
                <tr>
                    <td class="linha_tabela">{{ escala.id }}</td>
                    <td class="linha_tabela">{{ escala.nome_evento }}</td>
                    <td class="linha_tabela">{{ escala.data_evento |date:'d/m/Y'}}</td>
                    <td class="linha_tabela">{{ escala.colaborador_name |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.nome_area }}</td>
                    <td class="linha_tabela">{{ escala.nome_cargo |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.contrato |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.origem |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.data_inicio |default_if_none:""|date:'d/m/Y'}}</td>
                    <td class="linha_tabela">{{ escala.data_final |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.qtd_diaria |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.qtd_dias_pgto |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.passagem |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.data_ida |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.data_volta |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.hora_ida |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.hora_volta |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.meio_transporte |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.companhia_aerea |default_if_none:""}}</td>
                    <td class="linha_tabela">{{ escala.loc_voo |default_if_none:""}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
